*{
    margin: 0;
    padding: 0;
  }
  .body{
   background: url("../image/11.jpg") no-repeat ;
   background-size: 100% 100%;
   background-color: ;
  
  }
  .family{
    font-family: "Segoe UI Emoji",sans-serif;
  }
  .width{
    width: 100%;
  }
  .black{
    color: #222;
  }
  .nav{
    height: 60px;
    /*background-color: rgba(0, 0, 0, 0.1);*/
    background-color: #222;
    box-sizing: border-box;
    overflow: hidden;
  }
  .logo{
    width: 100px;
    height: 50px;
    margin: 5px;
  
  }
  .center{
    text-align: center;
  }
  .left{
    float: left;
  }
  .rght{
    float: right;
  }
  .color{
    font-size: 2rem;
    text-shadow: 1px 1px 2px #000,-1px -1px 2px #000;
    padding-top: 10px;
  }
  .white{
    color: #fff;
  }
  .ul li{
    display: inline-block;
    list-style-type: none;
    padding: 10px 10px;
    text-align:center;
  
  }
  .link{
    text-decoration: none;
  }
  .unav li:hover{
    background-color: #ccc;
      color: #555;
  }
  .unav li,a:hover{
    color: #555;
  }
  .div{
    width: 60%;
    margin: 30px auto 30px;
    background-color: rgba(0, 0, 0, 0.39);
    border-radius: 15px ;
    box-shadow: 2px 2px 3px #aaa,1px 1px 2px #aaa;
    padding: 20px;
  }
  .gray{
    color: #eff;
  }
  .line{
    line-height: 30px;
  }
  .bfont{
    font-size: 2rem;
  }
  .sfont{
    font-size: 1.1rem;
  }
  .img{
    width: 100%;
  }
  form{
    margin: auto;
    width: 30%;
    text-shadow: 3px 3px 4px #ccc,-3px -3px 4px #ccc;
  }
  input, textarea{
    border: 1px solid #444;
   color: #fff;
    width: 100%;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
  
  
  }
  .button{
      width: 100%;
    text-align: center;
  }
  